.header {
  background-color: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 0;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  height: 36px;
  margin-right: 12px;
}

.header .logo span {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.6;
}

.header .logo .blue {
  color: var(--blue);
}

.header .logo .purple {
  color: var(--purple);
}
