.wrapper {
  max-width: 736px;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.addTask {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transform: translateY(-50%);
}

.addTask input {
  width: 100%;
  padding: 1rem;
  border: 0px;
  border-radius: 5px;
  background: var(--gray-500);
  color: var(--gray-100);
  font-size: 1rem;
}

.addTask input::placeholder {
  color: var(--gray-300);
}

.addTask input:focus {
  outline: var(--purple) solid;
}

.addTask button {
  padding: 1rem;
  border: 0px;
  border-radius: 5px;
  font-size: 0.84rem;
  font-weight: 500;
  color: var(--white);
  background: var(--blue-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  transform: background-color 0.5s;
}

.addTask button:hover {
  background-color: var(--blue);
}

.addTask button:focus {
  background-color: var(--blue);
  outline: none;
  border: 0px;
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tasks header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.tasks header > div {
  display: flex;
  gap: 0.5rem;
}

.tasks header > div p {
  font-size: 0.88rem;
}

.tasks header > div .amount {
  padding: 2px 8px;
  border-radius: 10px;
  color: var(--gray-100);
  background-color: var(--gray-400);
}

.tasks .notDone .label {
  color: var(--blue);
}

.tasks .done .label {
  color: var(--purple);
}

.tasks .done {
  margin-left: auto;
}

.tasksList {
  border-top: 1px solid var(--gray-300);
}
